<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>담당 고객 정보</h2>
    <p>직원 : <b>{{empname}}</b> 번호 : {{empno}} </p>
    <table border="1">
        <tr>
            <th>고객번호</th><th>고객명</th><th>고객전화번호</th>
        </tr>
        {% if customers %}
        {% for c in customers %}
        <tr>
            <td>{{c.gogekno}}</td><td>{{c.gogekname}}</td><td>{{c.gogektel}}</td>
        </tr>
        {% endfor %}
        {% else %}
            <tr>
                <td colspan="3">담당고객 없음</td>
            </tr>
        {% endif %}
    </table>
    <p><a href="{{url_for('jikwon_list')}}">직원목록</a></p>
</body>
</html>