<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h2>직원 로그인</h2>
{% with messages = get_flashed_messages() %}
{% if messages %}
    <ul>
        {% for m in messages %}
        <li>{{m}}</li>
        {% endfor %}
    </ul>
{% endif %}
{% endwith %}
<form action = "{{url_for('login_post')}}" method="post">
    <p>직원번호 : <input name="jikwonno"></p>
    <p>직원이름 : <input name="jikwonname"></p>
    <button type="submit">로그인</button>
</form>
</body>
</html>