<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <!--<link rel="stylesheet" href=static/css/style.css>-->
    <script src="{{url_for('static', filename='js/app.js')}}" defer></script>
</head>
<body>
    <h2>FLASK API + Ajax(fetch) GET 방식</h2>
    <div>
        <div>
            <label for="name">이름</label>
            <input id="name" type="text" value="길동이">
        </div>
        <div>
            <label for="age">나이</label>
            <input id="age" type="number" value="23" min="1">
        </div>
        <button id="sendBtn">GET(REST) 요청</button>
    </div>
    <div id="result"></div>
</body>
</html>