<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>직원 자료, 직급별 연봉 통계</h2>

    <form method="get" action="/dbshow">
        <label for="dept">부서명 : </label>
        <input type="text" id="dept" name="dept" placeholder="예)총무부">
        <button type="submit">조회</button>
        <a href="/">메인 페이지</a>
    </form>

    <hr>
    <h3>직원 목록</h3>
    {{jikwondata | safe}} <!-- safe 중요 ! -->
    <h3>직급별 연봉 통계(평균 / 표준편차 / 인원수)</h3>
    {{statsdata | safe}}
</body>
</html>