<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>1) 사번, 직원명, 부서명, 직급, 연봉, 근무년수를 DataFrame에 기억 후 출력 : 부서번호, 직원명 순으로 오름 차순 정렬 </h3>
    <a href="/number2">2번 문제로 가즈아</a>
    <a href="/number3">3번 문제로 가즈아</a>
    <a href="/number4">4번 문제로 가즈아</a>
    <a href="/number5">5번 문제로 가즈아</a>
    <a href="/number6">6번 문제로 가즈아</a>
    {{jikwondata | safe}} <!-- safe 중요 ! -->
</body>
</html>